.nuevo-malestar {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
}
.nuevo-malestar-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-lg);
  font-size: var(--subtitulo-size);
}
.malestar-new-child,
.malestar-new-item {
  width: 335px;
  position: relative;
  border-radius: var(--br-14xl);
  max-height: 100%;
  display: none;
  max-width: 100%;
}
.guardar24 {
  position: relative;
  letter-spacing: 0.02em;
  display: none;
}
.malestar-new-child1,
.malestar-new-inner {
  width: 335px;
  position: relative;
  border-radius: var(--br-14xl);
  max-height: 100%;
  display: none;
  max-width: 100%;
}
.guardar25 {
  position: relative;
  letter-spacing: 0.02em;
  display: none;
}
.malestar-new-child2 {
  width: 335px;
  position: relative;
  border-radius: var(--br-14xl);
  max-height: 100%;
  display: none;
  max-width: 100%;
}
.fecha26,
.mascota16,
.nota2 {
  position: relative;
}
.fecha26,
.nota2 {
  display: inline-block;
  min-width: 113px;
}
.nota2 {
  min-width: 90px;
}
.mascota-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-42xl-5);
}
.fecharectangle-icon8,
.mascotarectangle-icon8 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent134,
.mascotarectangle-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.mascotarectangle-parent {
  height: 161px;
  width: 687px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-38xl);
}
.frame-parent134 {
  width: 1032px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.consulta20 {
  position: relative;
}
.consulta-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.consultarectangle-icon8 {
  height: 52px;
  width: 687px;
  position: relative;
  display: none;
  max-width: 100%;
}
.consulta21 {
  width: 145px;
  border: 0;
  outline: 0;
  font-family: var(--piepagina);
  font-size: var(--textinterno-size);
  background-color: transparent;
  height: 47px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.consultarectangle-parent2 {
  width: 687px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--color-whitesmoke);
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-68xl) var(--padding-10xs);
}
.consultarectangle-parent2,
.frame-parent136,
.frame-wrapper62 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent136 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper62 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-8xl) 0 0;
  box-sizing: border-box;
}
.frame-child92 {
  height: 74px;
  width: 335px;
  position: relative;
  border-radius: var(--br-14xl);
  display: none;
  max-width: 100%;
}
.cancelar11 {
  position: relative;
  font-size: var(--boton-size);
  letter-spacing: 0.02em;
  font-family: var(--piepagina);
  color: var(--color-black);
  text-align: left;
  z-index: 8;
}
.frame-child93,
.vector-parent18 {
  width: 335px;
  border-radius: var(--br-14xl);
  max-width: 100%;
}
.vector-parent18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-43xl);
  background-color: var(--color-plum);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  z-index: 7;
}
.vector-parent18:hover {
  background-color: var(--color-palevioletred);
}
.frame-child93 {
  height: 74px;
  position: relative;
  display: none;
}
.guardar26 {
  position: relative;
  font-size: var(--boton-size);
  letter-spacing: 0.02em;
  font-family: var(--piepagina);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.frame-parent137,
.vector-parent19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.vector-parent19 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-xs)
    var(--padding-2xl);
  background-color: var(--cuadro);
  width: 335px;
  border-radius: var(--br-14xl);
  justify-content: center;
  box-sizing: border-box;
}
.vector-parent19:hover {
  background-color: var(--color-lightblue);
}
.frame-parent137 {
  width: 889px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent133,
.frame-parent135 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent135 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-82xl);
  max-width: 100%;
}
.frame-parent133 {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-152xl);
  max-width: 103%;
  flex-shrink: 0;
}
.doctorrectangle-icon6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.doctorrectangle-wrapper,
.frame-parent132,
.malestar-new {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.doctorrectangle-wrapper {
  height: 388px;
  width: 687px;
  flex-direction: column;
  padding: var(--padding-195xl) 0 0;
  max-width: 100%;
  margin-left: -714px;
}
.frame-parent132,
.malestar-new {
  text-align: left;
  color: var(--color-black);
  font-family: var(--piepagina);
}
.frame-parent132 {
  width: 1059px;
  flex-direction: row;
  padding: 0 var(--padding-8xl) 0 0;
  max-width: 100%;
  font-size: var(--textinterno-size);
}
.malestar-new {
  width: 100%;
  position: relative;
  background-color: var(--fondo);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-84xl) var(--padding-164xl) var(--padding-85xl);
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--boton-size);
}
@media screen and (max-width: 1350px) {
  .frame-parent134,
  .frame-parent136 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .frame-parent137 {
    flex-wrap: wrap;
  }
  .frame-parent135 {
    gap: var(--gap-31xl);
  }
  .frame-parent133 {
    gap: var(--gap-66xl);
  }
}
@media screen and (max-width: 800px) {
  .nuevo-malestar {
    font-size: var(--font-size-29xl);
  }
  .guardar24,
  .guardar25 {
    font-size: var(--font-size-15xl);
  }
  .fecha26,
  .mascota16,
  .nota2 {
    font-size: var(--font-size-13xl);
  }
  .mascotarectangle-parent {
    gap: var(--gap-9xl);
  }
  .consulta20,
  .consulta21 {
    font-size: var(--font-size-13xl);
  }
  .cancelar11,
  .guardar26 {
    font-size: var(--font-size-15xl);
  }
  .frame-parent135 {
    gap: var(--gap-6xl);
  }
  .frame-parent133 {
    gap: var(--gap-24xl);
  }
  .malestar-new {
    gap: var(--gap-23xl);
    padding-left: var(--padding-72xl);
    padding-right: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .nuevo-malestar {
    font-size: var(--font-size-17xl);
  }
  .guardar24,
  .guardar25 {
    font-size: var(--font-size-7xl);
  }
  .consulta20,
  .consulta21,
  .fecha26,
  .mascota16,
  .nota2 {
    font-size: var(--font-size-5xl);
  }
  .consultarectangle-parent2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cancelar11 {
    font-size: var(--font-size-7xl);
  }
  .vector-parent18 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .guardar26 {
    font-size: var(--font-size-7xl);
  }
  .frame-parent133,
  .malestar-new {
    gap: var(--gap-2xl);
  }
  .malestar-new {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
