.actualizar-seguimiento-de {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
}
.actualizar-seguimiento-de-vacu-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.mascota11 {
  position: relative;
}
.mascota-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.mascotarectangle-icon5 {
  height: 53px;
  width: 320px;
  position: relative;
}
.frame-parent88 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.medicamento8 {
  position: relative;
}
.medicamento-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.doctorrectangle-icon3 {
  height: 53px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  min-width: 208px;
}
.frame-parent90 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.veterinaria10 {
  position: relative;
}
.veterinaria-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.veterinariarectangle-icon3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  min-width: 208px;
  min-height: 53px;
}
.frame-parent87,
.frame-parent89,
.frame-parent91 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent91 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-57xl);
}
.frame-parent87,
.frame-parent89 {
  flex-direction: column;
}
.frame-parent89 {
  align-self: stretch;
  gap: var(--gap-27xl);
}
.frame-parent87 {
  width: 593px;
  gap: var(--gap-44xl);
  min-width: 593px;
  max-width: 100%;
}
.fecha16 {
  position: relative;
  display: inline-block;
  min-width: 113px;
}
.fecha-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.fecharectangle-icon5 {
  align-self: stretch;
  width: 320px;
  position: relative;
  max-height: 100%;
  min-height: 53px;
}
.frame-parent93 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.consulta11 {
  position: relative;
}
.consulta-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.consultarectangle-icon4 {
  align-self: stretch;
  width: 320px;
  position: relative;
  max-height: 100%;
  min-height: 53px;
}
.frame-parent95 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.consulta12 {
  position: relative;
}
.consulta-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.consultarectangle-icon5 {
  height: 53px;
  width: 320px;
  position: relative;
  display: none;
}
.consulta13 {
  position: relative;
  z-index: 1;
}
.consultarectangle-group,
.frame-parent92,
.frame-parent94,
.frame-parent96 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.consultarectangle-group {
  flex: 1;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--color-whitesmoke);
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  padding: 0 var(--padding-63xl) var(--padding-7xs);
  min-width: 145px;
}
.frame-parent92,
.frame-parent94,
.frame-parent96 {
  align-self: stretch;
  gap: var(--gap-15xl);
}
.frame-parent92,
.frame-parent94 {
  flex-direction: column;
  gap: var(--gap-25xl);
}
.frame-parent92 {
  gap: var(--gap-47xl);
}
.frame-parent85,
.frame-parent86,
.frame-wrapper46 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper46 {
  width: 573px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 573px;
}
.frame-parent85,
.frame-parent86 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--textinterno-size);
}
.frame-parent85 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-102xl);
  text-align: left;
  font-size: var(--subtitulo-size);
  color: var(--color-black);
  font-family: var(--piepagina);
}
.vacuna-upload-child,
.vacuna-upload-item {
  width: 335px;
  position: relative;
  border-radius: var(--br-14xl);
  max-height: 100%;
  display: none;
  max-width: 100%;
}
.guardar15 {
  position: relative;
  letter-spacing: 0.02em;
  display: none;
}
.vacuna-upload-child1,
.vacuna-upload-inner {
  width: 335px;
  position: relative;
  border-radius: var(--br-14xl);
  max-height: 100%;
  display: none;
  max-width: 100%;
}
.guardar16 {
  position: relative;
  letter-spacing: 0.02em;
  display: none;
}
.frame-child70,
.vacuna-upload-child2 {
  width: 335px;
  position: relative;
  border-radius: var(--br-14xl);
  display: none;
  max-width: 100%;
}
.vacuna-upload-child2 {
  max-height: 100%;
}
.frame-child70 {
  height: 74px;
}
.cancelar8 {
  position: relative;
  font-size: var(--boton-size);
  letter-spacing: 0.02em;
  font-family: var(--piepagina);
  color: var(--color-black);
  text-align: left;
  z-index: 8;
}
.frame-child71,
.vector-parent12 {
  width: 335px;
  border-radius: var(--br-14xl);
  max-width: 100%;
}
.vector-parent12 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-43xl);
  background-color: var(--color-plum);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  z-index: 7;
}
.vector-parent12:hover {
  background-color: var(--color-palevioletred);
}
.frame-child71 {
  height: 74px;
  position: relative;
  display: none;
}
.guardar17 {
  position: relative;
  font-size: var(--boton-size);
  letter-spacing: 0.02em;
  font-family: var(--piepagina);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.vector-parent13 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-xs)
    var(--padding-2xl);
  background-color: var(--cuadro);
  width: 335px;
  border-radius: var(--br-14xl);
  justify-content: center;
  box-sizing: border-box;
}
.vector-parent13:hover {
  background-color: var(--color-lightblue);
}
.frame-parent97,
.vacuna-upload-inner1,
.vector-parent13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent97 {
  width: 965px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.vacuna-upload-inner1 {
  width: 1131px;
  justify-content: center;
}
.vacuna-upload {
  width: 100%;
  position: relative;
  background-color: var(--fondo);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 139px var(--padding-60xl) var(--padding-113xl);
  box-sizing: border-box;
  gap: 217px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--boton-size);
  color: var(--color-black);
  font-family: var(--piepagina);
}
@media screen and (max-width: 1350px) {
  .frame-parent87,
  .frame-wrapper46 {
    flex: 1;
  }
  .frame-parent86 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent85 {
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 800px) {
  .actualizar-seguimiento-de {
    font-size: var(--font-size-29xl);
  }
  .mascota11 {
    font-size: var(--font-size-13xl);
  }
  .frame-parent88 {
    flex-wrap: wrap;
  }
  .medicamento8 {
    font-size: var(--font-size-13xl);
  }
  .frame-parent90 {
    flex-wrap: wrap;
  }
  .veterinaria10 {
    font-size: var(--font-size-13xl);
  }
  .frame-parent91 {
    flex-wrap: wrap;
    gap: var(--gap-19xl);
  }
  .frame-parent89 {
    gap: var(--gap-4xl);
  }
  .frame-parent87 {
    gap: var(--gap-12xl);
    min-width: 100%;
  }
  .fecha16 {
    font-size: var(--font-size-13xl);
  }
  .frame-parent93 {
    flex-wrap: wrap;
  }
  .consulta11 {
    font-size: var(--font-size-13xl);
  }
  .frame-parent95 {
    flex-wrap: wrap;
  }
  .consulta12,
  .consulta13 {
    font-size: var(--font-size-13xl);
  }
  .frame-parent96 {
    flex-wrap: wrap;
    gap: var(--gap-mid);
  }
  .frame-parent94 {
    gap: var(--gap-3xl);
  }
  .frame-parent92 {
    gap: var(--gap-14xl);
  }
  .frame-wrapper46 {
    min-width: 100%;
  }
  .frame-parent85 {
    gap: var(--gap-11xl);
  }
  .cancelar8,
  .guardar15,
  .guardar16,
  .guardar17 {
    font-size: var(--font-size-15xl);
  }
  .frame-parent97 {
    flex-wrap: wrap;
  }
  .vacuna-upload {
    gap: var(--gap-89xl);
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .actualizar-seguimiento-de {
    font-size: var(--font-size-17xl);
  }
  .mascota11,
  .medicamento8,
  .veterinaria10 {
    font-size: var(--font-size-5xl);
  }
  .frame-parent91 {
    gap: var(--gap-lgi);
  }
  .frame-parent87 {
    gap: var(--gap-base);
  }
  .consulta11,
  .consulta12,
  .consulta13,
  .fecha16 {
    font-size: var(--font-size-5xl);
  }
  .consultarectangle-group {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent92 {
    gap: var(--gap-base);
  }
  .frame-parent85 {
    gap: var(--gap-mini);
  }
  .cancelar8,
  .guardar15,
  .guardar16 {
    font-size: var(--font-size-7xl);
  }
  .vector-parent12 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .guardar17 {
    font-size: var(--font-size-7xl);
  }
  .vacuna-upload {
    gap: var(--gap-35xl);
  }
}
